.primary-button {
  height: 40px;
  background-color: #f05454;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #f04040;
}

.button-icon {
  margin-left: 10px;
}
