.input-name-container {
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  height: 200px;
  width: 400px;
  border-radius: 10px;
  padding: 20px 20px;
}
.input-name-container > header {
  color: #121212;
}

.input-name-container > section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
